
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
    font-family: gothamLight;
    src: url('/../fonts/GOTHAM-LIGHT_0.TTF');
}

@font-face {
    font-family: gothamBold;
    src: url('/../fonts/GOTHAM-BOLD_0.TTF');
}

@font-face {
    font-family: gothamBook;
    src: url('/../fonts/Gotham-Book.ttf');
}

.page-container {
    max-width: 1280px;
}

header {
    .header-wave {
        position: relative;
        background: url('/../img/wave.png');
        height: 538px;
        width: 100%;
        margin-top: -255px;
        margin-bottom: 500px;

        h1 {
            color: #FFFFFF;
            font-family: 'gothamBold';
            font-size: 50px;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            display: block;
            text-align: center;
            padding-top: 260px;
        }

        .header-icon {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10px;

            &.flecha-abajo {
                top: 160px;
            }
        }

        #products-categories-list {
            position: relative;
            top: 296px;
            display: block;
            margin: 0 auto;
            text-align: center;
            z-index: 1;

            li {
                width: 260px;
                display: inline-block;
                margin-right: 15px;

                span.category-title {
                    color: #691087;
                    font-size: 23px;
                    font-family: 'gothamBold';
                    text-transform: uppercase;
                    background: #FFFFFF;
                    width: 100%;
                    display: inline-block;
                    text-align: center;
                    padding-top: 15px;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    padding-bottom: 8px;
                    margin-bottom: -10px;
                }

                .category-image {
                    width: 263px;
                    float: left;
                    margin-left: -3px;
                }

                .category-link-container {
                    background: #691087;
                    padding-bottom: 23px;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    text-align: center;

                    .category-link {
                        font-family: 'gothamLight';
                        font-size: 15px;
                        color: #F7F7F7;
                        border-radius: 30px;
                        border: 1px solid #F7F7F7;
                        display: inline-block !important;
                        width: 207px;
                        line-height: 40px;
                        text-align: center;
                        display: block;
                        margin-top: 25px;
                    }
                }
            }
        }

        &.product-header {
            h1 {
                color: #691087;
                font-size: 50px;
                margin-top: 90px;
                position: relative;
                max-width: 1128px;
                margin-left: auto;
                margin-right: auto;

                &:before,
                &:after {
                    content: '';
                    background: url(/../img/flecha-violeta.png);
                    position: absolute;
                    bottom: 7px;
                    display: block;
                    width: 30px;
                    height: 31px;
                }

                &::before {
                    left: 73px;
                }

                &::after {
                    right: 73px;
                }
            }
        }
    }
    .columns {
        list-style-type: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        .column {
            float: left;
            height: 800px;
            width: 313px;
            display: inline-block;
            background: url('/../img/column-1@2x.png');
            background-repeat: no-repeat;
            position: relative;
            background-size: 320px 798px;
    
            &-1 {
                width: 341px;
                background-size: contain;
                position: relative;

                a {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                }
            }

            &-2 {
                background: url('/../img/column-2@2x.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 320px 800px;
            }

            &-3 {
                background: url('/../img/column-3@1x.png');
            }

            &-4 {
                background: url('/../img/column-4@1x.png');
                height: 797px;
            }

            &-2,
            &-3,
            &-4 {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    height: 798px;
                    width: 100%;
                    background: #691087;
                    opacity: 0.8;
                    transition: 0.3s ease;
                }

                &:hover::before {
                    opacity: 0.6;
                    transition: 0.3s ease;  
                }
            }

            .title {
                font-family: 'gothamBold';
                color: #F7F7F7;
                font-size: 50px;
                top: 50px;
                left: 23px;
                position: absolute;

                > span {
                    display: block;
                }
            }

            .subtitle {
                font-family: 'gothamLight';
                color: #F7F7F7;
                font-size: 15px;
                top: 590px;
                left: 0;
                position: absolute;
                right: 0;
                text-align: center;

                &.button {
                    border-radius: 30px;
                    border: 1px solid #F7F7F7;
                    display: inline-block !important;
                    width: auto;
                    position: relative;
                    text-align: center;
                    padding: 10px 0;
                    left: 50%;
                    width: 218px;
                    transform: translate(-50%);
                    z-index: 99999;

                    a {
                        color: #F7F7F7;
                        text-decoration: none;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}

footer {
    font-family: 'gothamLight';
    background: url('/../img/footer.png');
    width: 100%;
    height: 435px;
    background-repeat: no-repeat;
    margin: 0;
    position: relative;

    .footer-extra {
        text-align: center;
        padding-top: 130px;
        max-width: 50%;
        margin: auto;
        .footer-title {
            font-family: gothamBold;
            color: #691087;
            text-transform: uppercase;
            font-size: 35px;
            border-bottom: 1px solid #AAAAAA;
            padding-bottom: 10px;
        }
    
        .footer-detail {
            display: block;
            color: #2B2B2B;
            line-height: 16px;
            padding-top: 20px;
            font-size: 16px;
        }
    }
   

    .copyright {
        position: absolute;
        bottom: 0;
        margin: 0;
        text-align: center;
        display: block !important;
        width: 100%;
        margin-bottom: 50px;
        color: #fff;
    }

    .social {
        position: absolute;
        bottom: 185px;
        left: 50%;
        transform: translateX(-50%);
    }
}

#category-products-list {
    text-align: center;

    .category-product-item {
        list-style: none;
        width: 342px;
        display: inline-block;
        margin-left: 13px;
        margin-right: 13px;
        margin-top: 70px;

        &.promo-product {
            background: #691087;
            padding: 15px;
            border-radius: 20px;
            
            .category-product-title {
                color: #fff !important;
            }

            .category-product-link  {
                background: #ffffff;
                color: #691087;
            }
        }
    
        .category-product-image {
            width: 100%;
            height: 342px;
            background: white;
            border-radius: 20px;
            border: 1px solid #C9C9C9;
            display: inline-block;
        }

        .category-product-title {
            font-family: gothamBold;
            color: #691087;
            text-transform: uppercase;
            font-size: 24px;
            padding-top: 10px;
            display: inline-block;
        }
        .category-product-subtitle {
            color: #59595B;
            font-size: 16px;
            font-family: gothamLight;
        }

        .category-product-link {
            line-height: 25px;
            background: #691087;
            font-family: gothamLight;
            font-size: 14px;
            text-transform: uppercase;
            color: #FFFFFF;
            border-radius: 15px;
            padding: 10px 35px;
            display: inline-block;
            margin-top: 27px;
        }
    }

    .promo-product {
        .category-product-title,
        .category-product-subtitle {
            color: #fff !important;
        }

        .category-product-link  {
            background: #ffffff;
            color: #691087;
        }
    }
}

/* Page Styles */
.product-page {
    header .header-wave {
        margin-bottom: 345px;
    }
    .product-page-content {
        max-width: 1128px;
        margin: 0 auto;
        overflow: hidden;
    
        #product-image-container {
            background: white;
            width: 534px;
            height: 534px;
            border-radius: 20px;
            border: 1px solid #C9C9C9;
        }

        #product-image-container,
        #product-details-container {
            display: inline-block;
        }

        #product-details-container {
            padding-left: 45px;
            position: relative;
            top: 0;
            display: inline-block;
            max-width: calc( 1128px - 570px );
            width: 100%;
            vertical-align: top;

            .product-title {
                font-family: gothamBold;
                color: #691087;
                text-transform: uppercase;
                font-size: 40px;
                padding: 0;
                line-height: 40px;
                margin-top: 130px;
                margin-bottom: 0;
            }

            .product-subtitle {
                font-family: gothamBook;
                font-size: 12px;
                margin-top: 8px;
                display: block;
                padding-bottom: 8px;
                border-bottom: 1px solid #AAAAAA;
            }

            .product-detail {
                font-family: gothamLight;
                font-size: 16px;
                color: #3D3D3D;
                line-height: 16px;
                padding-top: 10px;
            }

            .product-price {
                font-family: gothamBold;
                color: #691087;
                text-transform: uppercase;
                font-size: 70px;
                margin-top: 5px;
                display: inline-block;
            }

            .product-buy-link {
                width: 190px;
                height: 45px;
                background: #691087;
                font-family: gothamLight;
                font-size: 16px;
                text-transform: uppercase;
                color: #FFFFFF;
                border-radius: 15px;
                padding: 10px 55px;
                display: block;
                margin-top: -15px;
            }
        }
    }
}

.category-list {
    header .header-wave {
        margin-bottom: 280px
    }
}

.static-page {
    h1 {
        position: relative;

        &:before,
        &:after {
            content: '';
            background: url(/../img/flecha-abajo.png);
            position: absolute;
            bottom: 7px;
            display: block;
            width: 30px;
            height: 31px;
            background-size: 30px 31px;
        }

        &::before {
            left: 73px;
        }

        &::after {
            right: 73px;
        }
    }
}

.contact-page {
    header .header-wave {
        margin-bottom: 30px;
    }
    #contact-form {
        max-width: 710px;
        margin: auto auto;
    
        textarea,
        input {
            display: block;
            width: 100%;
            border-radius: 30px;
            outline: none;
            border: 1px solid;
            text-align: center;
            line-height: 50px;
            margin-bottom: 15px;
        }

        .submit {
            background: #691087;
            color: #fff;
        }
    }
}

body.home-page {
    header .header-wave #products-categories-list li .category-image {
        width: 260px;
        float: left;
        margin-left: 0;
    }

    .owl-carousel {
        position: relative;
        height: 100%;
        
        div:not(.owl-controls) {
            height: 100%;
        }

        .owl-slide {
            background-image: url('http://127.0.0.1:8000/img/slider/slider-1.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}

@media (max-width: 1279px) {
    .page-container {
        header .columns {
            .column {
                &.column-1 {
                    border-top: 1px solid #fff;
                    background-color: #691087 !important;
                    background-size: contain !important;
                }

                width: 100%;
                height: 100%;
                border-top: 1px solid #fff;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                .title {
                    font-size: 30px;
                }

                span.subtitle.button {
                    top: 80%;
                }
            }
        }

        .header-wave.product-header {
            margin-top: -180px;
            height: auto;
            margin-bottom: 0;
            background-repeat: no-repeat;
        }

        #products-categories-list {
            li {
                margin-bottom: 20px;
            }
        }
    }

    header .header-wave.product-header h1:before,
    header .header-wave.product-header h1:after {
        bottom: -33px;
    }

    header .header-wave.product-header h1 {
        font-size: 30px;
    }
}